%tr
  %td.col-xs-2
    = leave.leave_date.strftime("%d-%m-%Y")
  %td.col-xs-2
    = leave.leave_type.capitalize
  %td.col-xs-2
    = leave.duration
  %td.col-xs-5
    = leave.reason

  %td.leave-type.col-xs-1
    = leave.status

