%tr
  %td.col-xs-1
    = editable [@user, timesheet], :working_date, :type => "combodate", value: timesheet.working_date.strftime("%d-%m-%Y"), :url => "#{user_timesheet_path timesheet}"
  %td.column-duration
    = editable [@user, timesheet], :duration, :type =>  "text", :url => "#{user_timesheet_path timesheet}"
  %td.col-xs-3
    = editable [@user, timesheet], :job_id, :type => "select", :source => "#{timesheet.available_jobs.map {|job| {value: job.id, text: job.name}}.to_json}", :url => "#{user_timesheet_path timesheet}"
  %td.col-xs-1
    = editable [@user, timesheet], :work_type, :type => "select", :source => %w{Working Meeting Training}, :url => "#{user_timesheet_path timesheet}"
  %td.col-xs-5
    = editable [@user, timesheet], :description, :type => "textarea", :url => "#{user_timesheet_path timesheet}"

  %td.col-edit
    %span.badge.fa.fa-edit
      = link_to "Edit", "#{edit_link_for timesheet}", :class => "badge", :id => "edit-timesheet-#{timesheet.id}"
  %td.col-delete
    %span.badge.fa.fa-trash
      = link_to "Delete", "#", :class => "badge", :id => "delete-timesheet-#{timesheet.id}", "data-toggle" => "modal", "data-target" => "#delete-confirmation", "data-href" => "#{link_for timesheet}"

