.container.clearfix
  = show_error_messages_if_any [flash[:error]]
  = show_notice_message_if_any flash[:notice]

  .add-button-link.btn-primary.fa.fa-plus
    = link_to "Log work", new_user_timesheet_path

  - if @timesheets.any?
    %table.table.table-bordered.table-striped
      - @timesheets.to_a.each do |timesheet|
        = render :partial => "timesheet_view", locals: {:timesheet => timesheet}

    .text-center
      = paginate @timesheets
      
= render :partial => "public/common/confirmation"
:javascript
  enableXEditable();
