= render :partial => "layouts/head"
%body
  = render :partial => "layouts/header"
  .article
    .container.dashboard
      %div{:role => "tabpanel"}
        / Nav tabs
        %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
          %li.active{:role => "presentation"}
            = link_to "USERS", admin_users_path, :role => "tab"
          %li.active{:role => "presentation"}
            = link_to "TEAMS", admin_teams_path, :role => "tab"
  = yield
  = render :partial => "layouts/footer"
