= form_for([:admin, @job], html: {class: "form-default"}) do |f|
  = show_error_messages_if_any @job.errors.full_messages
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: "form-control"
  .form-group
    = f.label :start_date
    = f.text_field :start_date, autofocus: true, class: "form-control datepicker", value: Date.today.strftime("%d-%m-%Y")
  .form-group
    = f.label :end_date
    = f.text_field :end_date, autofocus: true, class: "form-control datepicker"
  .form-group
    = render :partial => "public/common/teams_dropdown", :locals => {:f => f, :resource => @job}
  .actions
    %button.btn.btn-primary{:type => "submit"}
      %i.fa.fa-send
        SUBMIT

:javascript
  $(function() {
    $(".datepicker").datepicker(
      {showOtherMonths: true,
      selectOtherMonths: true,
      dateFormat: "dd-mm-yy"}
    );
  });