= form_for([:admin, @job], html: {class: "form-default"}) do |f|
  = show_error_messages_if_any @job.errors.full_messages
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: "form-control"
  .form-group
    = f.label :start_date
    = f.text_field :start_date, autofocus: true, class: "form-control datepicker", value: @job.start_date ? format_date(@job.start_date) : format_date(Date.today)
  .form-group
    = f.label :end_date
    = f.text_field :end_date, autofocus: true, class: "form-control datepicker", value: @job.end_date ? format_date(@job.end_date) : nil
  .form-group
    = render :partial => "public/common/states_dropdown", :locals => {:f => f, :select_id => @job.state_id}
  .form-group
    = render :partial => "public/common/teams_dropdown", :locals => {:f => f, :select_id => @job.team_id}
  .actions
    %button.btn.btn-primary{:type => "submit"}
      %i.fa.fa-send
        SAVE

:javascript
  enableDatePicker($(".datepicker"));
