.article
  = form_for([:user, @user], html: {multipart: true, class: "form-default"}) do |f|
    = show_error_messages_if_any [flash[:error]]
    = show_error_messages_if_any @user.errors.full_messages
    = show_notice_message_if_any flash[:notice]
    .form-group
      = image_tag @user.picture.url if @user.picture?
      = f.file_field :picture, class: "btn"
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: "form-control", disabled: true
    .form-group
      = f.label :first_name
      = f.text_field :first_name, autofocus: true, class: "form-control"
    .form-group
      = f.label :last_name
      = f.text_field :last_name, autofocus: true, class: "form-control"
    .form-group
      = f.label :team
      = f.text_field :team, autofocus: true, class: "form-control", disabled: true, value: "#{@user.team.name if @user.team}"

    .actions
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-send
          SAVE

.form-group
  = link_to "Change your password", edit_user_registration_path(@user)
