.container.clearfix
  = show_error_messages_if_any [flash[:error]]
  = show_notice_message_if_any flash[:notice]
  
  #search-form.well
    = form_tag(admin_users_search_path, method: :get) do
      .row
        .form-group.col-md-6
          = text_field_tag :email, params[:email], :placeholder => "Enter email", :type => "email", class: "form-control"
      .row
        .form-group.col-md-6
          = text_field_tag :first_name, params[:first_name], class: "form-control", :placeholder => "First Name", :type => "text"
      .row
        .form-group.col-md-6
          = text_field_tag :last_name, params[:last_name], class: "form-control", :placeholder => "Last Name", :type => "text"
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-search
          Search

  .add-button-link.btn-primary.fa.fa-user-plus
    = link_to "Create new user", new_admin_user_path

  - if @users.any?
    %table.table.table-bordered.table-striped
      - @users.to_a.each do |user|
        = render :partial => "public/common/resource_view", locals: {:resource => user}

    .text-center
      = paginate @users
      
= render :partial => "public/common/confirmation"
