.container.clearfix
  #user-search-form
    = form_tag(admin_users_search_path, method: :get) do
      .row
        .form-group.col-md-6
          = text_field_tag :email, params[:email], :placeholder => "Enter email", :type => "email", class: "form-control"
      .row
        .form-group.col-md-6
          = text_field_tag :first_name, params[:first_name], class: "form-control", :placeholder => "First Name", :type => "text"
      .row
        .form-group.col-md-6
          = text_field_tag :last_name, params[:last_name], class: "form-control", :placeholder => "Last Name", :type => "text"
      = submit_tag "Search", class: "btn btn-primary"

  #items-list.list-group
    - if @users
      - @users.to_a.each do |user|
        .list-group-item
          = link_to user.email, edit_admin_user_path(user)
          %span.badge
            = link_to "Manage User", edit_admin_user_path(user), class: "badge"
          .description
            = "ID: #{user.id} - #{user.full_name}"

  .text-center
    = paginate @users
