.container.clearfix
  = show_error_messages_if_any [flash[:error]]
  = show_notice_message_if_any flash[:notice]
  .add-button-link.btn-primary.fa.fa-user-plus
    = link_to "Create new team", new_admin_team_path
  - if @teams.any?
    #items-list.well.well-md.list-group
      - @teams.to_a.each do |team|
        %table.list-group-item{class: cycle("odd-item", "even-item")}
          = render :partial => "public/common/resource_view", locals: {:resource => team}

    .text-center
      = paginate @teams

= render :partial => "public/common/confirmation"